@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
*{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
}
/* Variables */
:root{
    --main-color: linear-gradient(to right, #3FC6FB, #A9A0EC, #B038FE);
    --text-color: #020307;
    --bg-color: #fff;
}
/* custom scroll 
html::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--text-color);
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
} */

body{
    background: #f2f2f2;
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 100px;
    transition: 0.5s;
    /* background: var(--main-color); */
}
 /* baad main  */
 header.shadow{
    background: var(--bg-color);
    box-shadow: 0 0 4px rgb(14 55 54/15%);
 }
header.shadow .navbar a{
    color: var(--text-color);
}
header.shadow .logo{
    color: var(--text-color);
}





.bx{
    color: var(--main-color);
}

.navbar{
    display: flex;
    column-gap: 5rem;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
.navbar a::after{
    content: '';
    /* width: 100%; */
    width: 0;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.4s all linear;
}
.navbar a:hover::after, 
.navbar .home-active::after
{
    width: 100%;
    color: #020307;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 1000001;
    display: none;
}
.btn1{
    margin-left: 10px;
}
.btn{
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 30px;
}
.btn:hover{
    text-decoration: underline;
}

/* home  */
section{
    padding: 4.5rem 0 1.5rem;
}


/* movies  */
.heading{
    margin-top: 150px;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: 1px solid var(--main-color);
}
.movies-container{
    max-width: 968px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.box .box-img{
    width: 100%;
    height: 270px;
    cursor: pointer;
    
    
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    border-radius: 5px 5px 0 0;
}
/* .box .box-img img:hover{
    transform: translateY(-10px);
    transition: 0.2s all linear;
} */
.box h3{
    font-size: 0.9rem;
    font-weight: 500;
}
.box span{
    font-size: 14px;
}
.whitebg{
    background-color: white;
    border-radius: 0 0 5px 5px;
    height: 80px;
}
.whitebg h3 {
    padding-left: 10px;
    padding-top: 10px;
}
.whitebg span{
    padding-left: 10px;
    padding-top: 10px;
}

/* coming containrer  */
.coming-container{
    display: grid;
    gap: 1rem;
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.coming-container .box img:hover{
    transform: translateY(0);
}
.coming-container .box img{
    border-radius: 15px;
}

/* Newsletter */
.newsletter{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

.newsletter form{
    background: var(--bg-color);
    padding: 10px;
    border-radius: 30px;
    display: flex;
    align-items: center;
}
.newsletter form input{
    border: none;
    outline: none;
}
.email{
    width: 400px;
}
.newsletter form input::placeholder{
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 400;
}
.newsletter .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

/* footer  */
.footer{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}




 /* responsive  */
 @media (max-width :1080px){
    .home-text{
        padding: 0 100px;
    }
 }
 @media (max-width :991px){
    header{
        padding: 18px 4%;
    }
    section{
        padding: 50px 4%;
    }
    .home-text{
        padding: 0 4%;
    }
    .home-text h1{
        font-size: 3rem;
    }
 }
 @media (max-width: 774px) {
    header{
        padding: 12px 4%;
    }
    #menu-icon{
        display: initial;
        color: var(--bg-color);
    }
     /* baad m  */
     header.shadow #menu-icon{
        color: var(--text-color);
     }
    .navbar{
        position: absolute;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        row-gap: 1.4rem;
        padding: 20px;
        box-shadow: 4px 4px 0 4px rgb(14 55 54/15%);
        transition: 0.2s all linear;
        text-align: center;
        width: 100%;
        color: #020307;
    }
    .navbar a{
        color: black;
    }
    .navbar a:hover{
        color: var(--main-color);
        border-bottom: 1px solid var(--main-color);
    }
    .navbar a::after{
        display: none;
    }
    .navbar.active{
        top: 100%;
    }

    .home-text h1{
        font-size: 2.4rem;
        color: black !important;
    }
    .btn{
        padding: 0.6rem 1.2rem;
    }
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(160px,auto));
    }
 }
 @media (max-width: 472px){
    .newsletter form .email{
        width: auto;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
    }
    .container{
        width: 100%;
        min-height: 500px;
    }
    header{
        padding: 6px 4%;
    }
    .home-text h1{
        font-size: 1.7rem;
    }
    
    .movies-container{
        grid-template-columns: repeat(auto-fit, minmax(140px,auto));
    }
    .box .box-img img{
        height: 240px;
    }
    .coming-container img{
        width: 100%;
        display: none;
        max-height: 500px;
    }
 }















