@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.container {
    width: 20%;
    height: 60%;
    grid-template-columns: 100%;
    grid-template-areas: "login";
    box-shadow: 0 0 17px 10px rgb(0 0 0 / 10%);
    border-radius: 10px;
    background: white;
    overflow: hidden;
}

.logo-image {
    height: auto;
    width: auto;
    max-width: 120px;
    max-height: 120px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.login {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: white;
}

.login h3.title {
    margin-top: 50px;
    font-size: 30px;
}

.text-input {
    height: 40px;
    display: flex;
    width: 70%;
    align-items: center;
    border-bottom: 2px solid #ececec;
    padding: 0 15px;
    margin: 10px 0;
}

.text-input input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    margin-left: -13px;
}

.text-input i {
    color: #9a9a9a;
}

::placeholder {
    color: #9a9a9a;
}

.login-btn {
    width: 80%;
    height: 50px;
    padding: 10px;
    color: white;
    background: linear-gradient(to right, #3FC6FB, #A9A0EC, #B038FE);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 60px;
}

a {
    font-size: 12px;
    color: #9a9a9a;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

a.forgot {
    margin-top: 15px;
}

.signup { 
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    align-items: center;
    align-content: center;

}

